;; shadow-cljs configuration
{:deps {:aliases [:shadow]} ; use deps.edn with the :shadow alias

 :builds
 {:app
  {:target     :esm
   :output-dir "public/js"
   :runtime    :custom
   :modules    {:shared         {:entries []} ; leave empty to let the compiler figure it out
                :service_worker {:init-fn    com.mjdowney.scx.service-worker/init
                                 :depends-on #{:shared}}
                :popup          {:init-fn    com.mjdowney.scx.popup/init
                                 :depends-on #{:shared}}}}}}
