#com\.mjdowney\.scx\.float-results-on-page,
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *),
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *) :not(svg > *),
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *) :not(svg > *) :not(svg > *),
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *),
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *),
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *),
#com\.mjdowney\.scx\.float-results-on-page :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *) :not(svg > *)
{
	all: unset;
}

#com\.mjdowney\.scx\.float-results-on-page {
	font-family: monospace;
}

#com\.mjdowney\.scx\.float-results-on-page .taskbar-button {
	fill: #8c92a4;
}

#com\.mjdowney\.scx\.float-results-on-page .taskbar-button:hover {
	fill: #c2cbe7;
}
