{:manifest_version         3

 ;; Description
 :name                     "SCX"
 :description              "A Chrome extension to evaluate code entered into the URL bar (the omnibox) with the Small Clojure Interpreter (SCI)."
 :version                  "1.0"
 :icons                    {"16"  "images/icon16.png"
                            "19"  "images/icon19.png"
                            "38"  "images/icon38.png"
                            "48"  "images/icon48.png"
                            "128" "images/icon128.png"}

 ;; Execution
 :permissions              [:activeTab  ; for sending messages to the active tab
                            :scripting] ; for loading content scripts to receive msgs

 ; This content script proxies to the js/float_results_on_page.js (which might
 ; further require other js/* scripts, and therefore needs full access in web
 ; accessible resources).
 :content_scripts          [{:matches ["<all_urls>"] :js ["float_results_on_page.js"]}]
 :web_accessible_resources [{:matches ["<all_urls>"] :resources ["js/*"]}]

 ; Allow the service worker to intercept the URL bar as soon as the "sci "
 ; prefix is entered
 :omnibox                  {:keyword :sci}
 :background               {:service_worker "js/service_worker.js" :type :module}}
